name: Test and package development builds

on:
  workflow_call:
    inputs:
      ref:
        description: "ref to build"
        required: true
        type: string
    outputs:
      abq_version:
        description: "Released ABQ version"
        value: ${{ jobs.release.outputs.abq_version }}
    secrets:
      RWX_ACCESS_TOKEN:
        required: true
      RWX_STAGING_CREATE_RELEASE_ACCESS_TOKEN:
        required: true
      AWS_S3_ABQ_RELEASES_STAGING_ACCESS_KEY_ID:
        required: true
      AWS_S3_ABQ_RELEASES_STAGING_SECRET_ACCESS_KEY:
        required: true

jobs:
  release:
    name: Build, Upload, Release ABQ
    # We only need x86-64 statically-linked binaries for development testing.
    runs-on: ubuntu-latest
    outputs:
      abq_version: ${{ steps.abq_version.outputs.abq_version }}
    env:
      AWS_DEFAULT_REGION: us-east-2
      AWS_DEFAULT_OUTPUT: json
      RUST_TARGET: x86_64-unknown-linux-musl
      ABQ_DEVELOPMENT_BUILD: 1
      ABQ_NO_REBUILD: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # get whole history for versioning

      - name: Mark safe directory
        run: |
          # For some reason we need this, even though actions/checkout sets
          # safe.directory by default?
          # Perhaps it is because we work in a container?
          git config --global --add safe.directory "$PWD"
          git describe

      # this may not be unecessary when https://github.com/actions/checkout/issues/882 is resolved
      - name: re-fetch overwritten tag
        run: git fetch --tags --force

      - name: check for typos
        uses: crate-ci/typos@master

      - name: Install musl libc tools
        run: |
          sudo apt-get install -y musl-tools

      - name: Restore cargo cache
        uses: actions/cache@v3.4.3
        env:
          cache-name: ci
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: cargo-release-unstable-1-linux_x86-64-musl-${{ hashFiles('rust-toolchain.toml')}}-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            cargo-release-unstable-1-linux_x86-64-musl-${{ hashFiles('rust-toolchain.toml')}}-
      - name: Install Rust toolchain
        uses: rwx-research/rust-toolchain@abq
        with:
          toolchain: 1.81.0
          target: ${{ env.RUST_TARGET }}
          components: clippy, rustfmt

      - name: Check formatting
        uses: actions-rs/cargo@v1.0.3
        with:
          command: fmt
          args: -- --check

      - name: Run lints
        uses: actions-rs/cargo@v1.0.3
        with:
          command: clippy
          args: --workspace --tests --profile=release-unstable --all-features --target=${{ env.RUST_TARGET }} -- --deny warnings

      - name: Lint github workflows
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/dc8cca81866af081bdd0e0653474916d7046c5c5/scripts/download-actionlint.bash)
          ./actionlint -color
        shell: bash

      # setup testdata
      - uses: actions/setup-node@v4
        with:
          node-version: "14"
          cache: "npm"
          cache-dependency-path: "testdata/**/package-lock.json"

      - name: Load test dependencies
        run: |
          scripts/init_testdata

      # End setup testdata

      - name: Build release with tests
        run: |
          cargo build --tests --bins --profile=release-unstable --all-features --target="$RUST_TARGET"

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: install captain
        uses: rwx-research/setup-captain@v1

      - name: Run tests with cargo
        timeout-minutes: 4
        if: github.run_attempt == 1
        run: |
          captain run test-abq
        env:
          CI: false
          RWX_ACCESS_TOKEN: ${{ secrets.RWX_ACCESS_TOKEN }}

      - name: Run retried tests with cargo, including debug output
        timeout-minutes: 5
        if: github.run_attempt > 1
        run: |
          export ABQ_DEBUG_CLI_TESTS_FOR_CI=1

          captain run test-abq -- --nocapture
        env:
          CI: false
          RWX_ACCESS_TOKEN: ${{ secrets.RWX_ACCESS_TOKEN }}

      - name: Prepare release environment
        run: |
          ABQ_VERSION="$(cat build_artifact/abq_version.txt)"
          RELEASE_DIR="abq_${ABQ_VERSION}_linux_x86-64"
          RELEASE_ARCHIVE="${RELEASE_DIR}.tar.gz"
          {
            echo "ABQ_VERSION=$ABQ_VERSION"
            echo "RELEASE_DIR=$RELEASE_DIR"
            echo "RELEASE_ARCHIVE=$RELEASE_ARCHIVE"
            echo "RELEASE_S3_OBJECT=abq/${ABQ_VERSION}/${RELEASE_ARCHIVE}"
            echo "RELEASE_S3_NIGHTLY_OBJECT=abq/nightly/abq_nightly_linux_x86-64"

            echo "NEW_RELEASE_S3_OBJECT=abq/${ABQ_VERSION}/linux/x86_64/abq"
            echo "NEW_RELEASE_S3_NIGHTLY_OBJECT=abq/nightly/linux/x86_64/abq"

            echo "NEW_RELEASE_S3_OBJECT_TESTER_HARNESS=abq/${ABQ_VERSION}/linux/x86_64/abq_tester_harness"
            echo "NEW_RELEASE_S3_NIGHTLY_OBJECT_TESTER_HARNESS=abq/nightly/linux/x86_64/abq_tester_harness"
          } >> "$GITHUB_ENV"

      - name: Prepare release
        id: prepare_release
        run: |
          mkdir "${RELEASE_DIR}"
          cp "target/$RUST_TARGET/release-unstable/abq" "${RELEASE_DIR}"
          cp "target/$RUST_TARGET/release-unstable/abq_tester_harness" "${RELEASE_DIR}"
          tar -czvf "${RELEASE_ARCHIVE}" "${RELEASE_DIR}"

      - name: Push release to staging S3
        env:
          RELEASE_BUCKET: abq-releases-staging
        run: |
          scripts/upload-to-aws.sh ${{ secrets.AWS_S3_ABQ_RELEASES_STAGING_ACCESS_KEY_ID }} ${{ secrets.AWS_S3_ABQ_RELEASES_STAGING_SECRET_ACCESS_KEY }} staging

      - name: export abq version
        id: abq_version
        run: |
          echo "abq_version=${ABQ_VERSION}" >> "$GITHUB_OUTPUT"

  notify-api:
    name: Release new abq to staging API
    needs: release
    uses: ./.github/workflows/release_staging.yml
    with:
      version: ${{ needs.release.outputs.abq_version }}
    secrets:
      RWX_STAGING_CREATE_RELEASE_ACCESS_TOKEN: ${{ secrets.RWX_STAGING_CREATE_RELEASE_ACCESS_TOKEN }}
